@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-primary text-white">Welcome to Course Management Info Web</h1>
    <p>You can get the information about Teams and Players</p>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Categories" asp-action="Index">Go to Category Page</a> <br />
   <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Courses" asp-action="Index">Go to Category Page</a>
   
</div>
